body{
    background-color: aqua;
    margin-left: 650px;
    margin-top: 350px;
    font-size: 50px;
    font-style: italic;
}
button{
    margin-left: 90px;
    font-size: 5vh;
    background-color: darkolivegreen;
}